
h1{
    text-align: center;
    color: coral;
    
}
input{
    width: 300px;
    height: 30px;
    font-size: 18px;
    border: 1px solid coral;
    box-shadow: 1px 1px 10px coral;
    border-radius: 5px;

}
input:invalid{
    animation: shake 300ms;
}


@keyframes shake{
    25% {transform: translateX(4px);}
    50% {transform: translateX(-4px);}
    75% {transform: translateX(4px);}
}
button{
    height: 30px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   background-color: coral;
   color: rgb(1, 42, 4);
   box-shadow: 1px 1px 10px coral;
    
   
}

.todo{
   display: flex;
   justify-content: center;
}
.todo_block{
    border: 2px solid rgb(9, 118, 234);
    padding:  10px 50px 50px;
    box-shadow: 1px 1px 10px rgb(30, 123, 210);
}
li{
    list-style: none;
    margin-top: 0;
    background-color: rgb(30, 123, 210);
    margin-top: 15px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(30, 123, 210);
    color: #fff;
    
}
li.is-active{
    text-decoration: line-through;
    background-color: rgb(93, 91, 91);
    color: black;
    box-shadow: 1px 1px 10px black;
    
   
}
.btn{
    background-color: rgb(243, 58, 58);
}